@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Light.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Medium.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gilroy";
}

a {
    display: block;
    text-decoration: none;
}

.flex {
    display: flex;
}

.adaptive {
    display: none;
}

.pink-button {
    width: 300px;
    padding: 21px 35px;
    height: fit-content;
    background: #ECC0C7;
    border-radius: 20px;
    //Стили текста
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #5356AE;
}

header {
    width: 100%;
    height: 120px;
    .desctop {
        height: 100%;
        align-items: center;
        padding: 0px 120px 0px;
        .phone {
            margin-left: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #424c5c;
        }
        .order-call {
            margin-left: 55px;
            width: 200px;
            height: 40px;
            border-radius: 61px;
            border: 2px solid #696fe6;
            gap: 17px;
            cursor: pointer;
            align-items: center;
            position: relative;
            overflow: hidden;
            .phone-icon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #696fe6;
                border-radius: 100%;
                z-index: 1;
                position: relative;
                right: -5px;
                transition: right 0.3s;
            }
            .text {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #696fe6;
                position: relative;
                z-index: 1;
                left: 0px;
                transition: color 0.3s, left 0.3s;
            }
            &::before {
                position: absolute;
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 61px;
                background: #696fe6;
                transition: width 0.3s, height 0.3s, left 0.3s;
                left: 5px;
            }
            &:hover {
                background: #696fe6;
                transition: background;
                transition-delay: 0.25zs;
                .phone-icon {
                    background: #fff;
                    left: auto;
                    right: -162px;
                    svg {
                        path {
                            fill: #696fe6;
                        }
                    }
                }
                .text {
                    color: #fff;
                    left: -25px;
                }
                &::before {
                    width: 200px;
                    height: 40px;
                    left: 0px;
                }
            }
        }
    }
    border-bottom: 3px solid #ecc0c7;
}

main {
    .block {
        .wrapper {
            margin: 0px auto;
        }
        &#block1 {
            .wrapper {
                width: 1190px;
                padding: 80px 0px 85px;
                .content {
                    .description {
                        width: 550px;
                        height: 88px;
                        border: 1px solid #e7e7e7;
                        border-radius: 76px;
                        padding: 20px 29px;
                        margin-bottom: 30px;
                        //Стили текста
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #424c5c;
                    }
                    .title {
                        width: 520px;
                        font-weight: 700;
                        font-size: 45px;
                        line-height: 56px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #696fe6;
                        margin-bottom: 40px;
                        .stroke-text {
                            color: #fff;
                            text-shadow: #696fe6 1px 0px 0.6px, #696fe6 0px 1px 0.6px, #696fe6 0px -1px 0.6px, #696fe6 -1px 0px 0.6px;
                        }
                    }
                }
            }
        }
    }
}