@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Light.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Medium.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../assets/fonts/Gilroy-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gilroy";
}

a {
    display: block;
    text-decoration: none;
}

.flex {
    display: flex;
}

.adaptive {
    display: none;
}

.pink-button {
    width: 300px;
    padding: 21px 35px;
    height: fit-content;
    background: #ecc0c7;
    border-radius: 20px;
    //Стили текста
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #5356ae;
    cursor: pointer;
    &:hover {
        background: #ff5555;
        //Стили текста
        color: #ffffff;
    }
}

header {
    width: 100%;
    height: 120px;
    .desctop {
        height: 100%;
        align-items: center;
        padding: 0px 120px 0px;
        .phone {
            margin-left: auto;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #424c5c;
        }
        .order-call {
            margin-left: 55px;
            width: 200px;
            height: 40px;
            border-radius: 61px;
            border: 2px solid #696fe6;
            gap: 17px;
            cursor: pointer;
            align-items: center;
            position: relative;
            overflow: hidden;
            .phone-icon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #696fe6;
                border-radius: 100%;
                z-index: 1;
                position: relative;
                right: -5px;
                transition: right 0.3s;
            }
            .text {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #696fe6;
                position: relative;
                z-index: 1;
                left: 0px;
                transition: color 0.3s, left 0.3s;
            }
            // &::before {
            //     position: absolute;
            //     content: "";
            //     width: 30px;
            //     height: 30px;
            //     border-radius: 61px;
            //     background: #696fe6;
            //     transition: width 0.3s, height 0.3s, left 0.3s;
            //     left: 5px;
            // }
            &:hover {
                background: #696fe6;
                // transition: background;
                // transition-delay: 0.25s;
                .phone-icon {
                    background: #fff;
                    left: auto;
                    right: -162px;
                    svg {
                        path {
                            fill: #696fe6;
                        }
                    }
                }
                .text {
                    color: #fff;
                    left: -25px;
                }
                &::before {
                    width: 200px;
                    height: 40px;
                    left: 0px;
                }
            }
        }
    }
    border-bottom: 3px solid #ecc0c7;
}

main {
    .block {
        .wrapper {
            margin: 0px auto;
            width: 1200px;
            padding: 0px 20px;
        }
        &#block1 {
            .wrapper {
                width: 1190px;
                padding: 80px 0px 85px;
                .content {
                    padding-top: 60px;
                    .description {
                        width: 550px;
                        height: 88px;
                        border: 1px solid #e7e7e7;
                        border-radius: 76px;
                        padding: 20px 29px;
                        margin-bottom: 30px;
                        //Стили текста
                        font-family: "Gilroy";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #424c5c;
                    }
                    .title {
                        padding-left: 31px;
                        width: 550px;
                        font-weight: 700;
                        font-size: 45px;
                        line-height: 56px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #696fe6;
                        margin-bottom: 40px;
                        .stroke-text {
                            color: #fff;
                            text-shadow: #696fe6 1px 0px 0.6px, #696fe6 0px 1px 0.6px, #696fe6 0px -1px 0.6px,
                                #696fe6 -1px 0px 0.6px;
                        }
                    }
                    .pink-button {
                        margin-left: 31px;
                    }
                }
                .decor-img {
                    width: 100%;
                    height: 645px;
                    position: relative;
                    .input-efect-wrap {
                        position: absolute;
                        width: 214px;
                        height: 29px;
                        padding-left: 6px;
                        border: 1px solid #e7e7e7;
                        border-radius: 84px;
                        left: 368px;
                        transform-origin: 0px 0px;
                        transform: rotate(5deg);
                        align-items: center;
                        svg {
                            margin-right: 3px;
                        }
                        .input-efect-text {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: 0.03em;
                            color: #424c5c;
                        }
                        .input-line {
                            width: 1px;
                            height: 14px;
                            background-color: #424c5c;
                            animation: inputLineAnimation 1s linear infinite;
                            @keyframes inputLineAnimation {
                                0% {
                                    opacity: 1;
                                }
                                49% {
                                    opacity: 1;
                                }
                                50% {
                                    opacity: 0;
                                }
                                100% {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                    .phone-image {
                        position: absolute;
                        width: 58px;
                        height: 58px;
                        left: 156px;
                        top: 48px;
                        transform: rotate(-3deg);
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .outer-circle {
                        position: absolute;
                        top: 76px;
                        left: 148px;
                        width: 448px;
                        height: 448px;
                        border: 1px solid #e7e7e7;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .img-wrap {
                            position: absolute;
                            width: 60px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform-origin: 50% 50%;
                            &.heart {
                                img {
                                    width: 57px;
                                    height: auto;
                                }
                                animation: rotate1 10s infinite linear;
                                @keyframes rotate1 {
                                    from {
                                        transform: rotate(0deg) translateY(-216.622px) translateX(41px) rotate(0deg);
                                    }
                                    to {
                                        transform: rotate(360deg) translateY(-216.622px) translateX(41px)
                                            rotate(-360deg);
                                    }
                                }
                            }
                            &.tooth {
                                img {
                                    width: 38px;
                                    height: auto;
                                }
                                animation: rotate2 10s infinite linear;
                                @keyframes rotate2 {
                                    from {
                                        transform: rotate(0deg) translateY(-181.44px) translateX(128px) rotate(0deg);
                                    }
                                    to {
                                        transform: rotate(360deg) translateY(-181.44px) translateX(128px)
                                            rotate(-360deg);
                                    }
                                }
                            }
                            &.eye {
                                img {
                                    width: 54px;
                                    height: auto;
                                }
                                animation: rotate3 10s infinite linear;
                                @keyframes rotate3 {
                                    from {
                                        transform: rotate(0deg) translateY(-116.646px) translateX(191px) rotate(0deg);
                                    }
                                    to {
                                        transform: rotate(360deg) translateY(-116.646px) translateX(191px)
                                            rotate(-360deg);
                                    }
                                }
                            }
                        }
                    }
                    .internal-circle {
                        position: absolute;
                        top: 182px;
                        left: 254px;
                        width: 236px;
                        height: 236px;
                        border: 1px solid #e7e7e7;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .animated-bell {
                            width: 64px;
                            height: 64px;
                            position: absolute;
                            transform: rotate(0deg) translateY(-93px) translateX(73px) rotate(0deg);
                            .img-wrap {
                                width: 60px;
                                height: 60px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &.bell {
                                    img {
                                        width: 45px;
                                        height: auto;
                                    }
                                    transform-origin: 50% 0%;
                                    animation: rotate_bell 2.1s infinite linear;
                                    @keyframes rotate_bell {
                                        0% {
                                            transform: rotate(0deg);
                                        }
                                        5% {
                                            transform: rotate(5deg);
                                        }
                                        10% {
                                            transform: rotate(0deg);
                                        }
                                        15% {
                                            transform: rotate(-5deg);
                                        }
                                        20% {
                                            transform: rotate(0deg);
                                        }
                                    }
                                }
                            }
                            .notification {
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background: url(../assets/image/top_decor-img/bell_notification.png);
                                top: 0;
                                right: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                //Стили текста
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                letter-spacing: 0.02em;
                                text-transform: uppercase;
                                color: #ffffff;
                            }
                        }
                    }
                    .doctor {
                        position: absolute;
                        top: 33px;
                        left: 186px;
                        img {
                            width: 216px;
                            height: 314px;
                        }
                    }
                    .cloud {
                        position: absolute;
                        top: 210px;
                        left: 50px;
                    }
                    .light_bulb {
                        position: absolute;
                        width: 96px;
                        height: 146px;
                        top: 240px;
                        right: 38px;
                    }
                    .screen {
                        position: absolute;
                        top: 284px;
                        left: 92px;
                    }
                    .screen_chart {
                        width: 142px;
                        height: 123px;
                        position: absolute;
                        top: 398px;
                        left: 196px;
                        .line-chart {
                            position: relative;
                            .circle {
                                width: 13px;
                                height: 13px;
                                border-radius: 100%;
                                position: absolute;
                                z-index: 2;
                                &#circle1,
                                &#circle3 {
                                    background: linear-gradient(135deg, #bfbfff 0%, #7676e4 100%);
                                }
                                &#circle2,
                                &#circle4 {
                                    background: linear-gradient(135deg, #f9becf 0%, #d25b97 100%);
                                }
                                &#circle1 {
                                    top: 47px;
                                    left: 4px;
                                    animation: cirkle1 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes cirkle1 {
                                        0% {
                                            top: 24px;
                                        }
                                        100% {
                                            top: 47px;
                                        }
                                    }
                                }
                                &#circle2 {
                                    top: 24px;
                                    left: 44px;
                                    animation: cirkle2 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes cirkle2 {
                                        0% {
                                            top: 24px;
                                        }
                                        100% {
                                            top: 24px;
                                        }
                                    }
                                }
                                &#circle3 {
                                    top: 35px;
                                    left: 84px;
                                    animation: cirkle3 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes cirkle3 {
                                        0% {
                                            top: 24px;
                                        }
                                        100% {
                                            top: 35px;
                                        }
                                    }
                                }
                                &#circle4 {
                                    top: 0px;
                                    left: 123px;
                                    animation: cirkle4 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes cirkle4 {
                                        0% {
                                            top: 24px;
                                        }
                                        100% {
                                            top: 0px;
                                        }
                                    }
                                }
                            }
                            .line {
                                height: 3px;
                                position: absolute;
                                background-color: #74c3f2;
                                z-index: 1;
                                &#line1 {
                                    width: 40px;
                                    top: 29px;
                                    left: 8px;
                                    transform-origin: 100% 50%;
                                    transform: rotate(-31deg);
                                    animation: line1 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes line1 {
                                        0% {
                                            transform: rotate(0deg);
                                        }
                                        100% {
                                            transform: rotate(-31deg);
                                        }
                                    }
                                }
                                &#line2 {
                                    width: 40px;
                                    top: 29px;
                                    left: 51px;
                                    transform-origin: 0% 50%;
                                    transform: rotate(14deg);
                                    animation: line2 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes line2 {
                                        0% {
                                            transform: rotate(0deg);
                                        }
                                        100% {
                                            transform: rotate(14deg);
                                        }
                                    }
                                }
                                &#line3 {
                                    width: 40px;
                                    top: 29px;
                                    left: 90px;
                                    transform-origin: 0% 50%;
                                    transform: rotate(-43deg);
                                    animation: line3 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    @keyframes line3 {
                                        0% {
                                            transform: rotate(0deg);
                                            top: 29px;
                                        }
                                        100% {
                                            transform: rotate(-43deg);
                                            top: 40px;
                                            width: 55px;
                                        }
                                    }
                                }
                            }
                        }
                        .segment-chart {
                            height: 90px;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            display: flex;
                            align-items: flex-end;
                            gap: 20px;
                            .segment {
                                width: 20px;
                                height: 80px;
                                border-radius: 44px;
                                &#segment1 {
                                    animation: segment1 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    background: linear-gradient(90deg, #bfbfff 0%, #7676e4 100%);
                                    @keyframes segment1 {
                                        0% {
                                            height: 80px;
                                        }
                                        100% {
                                            height: 40px;
                                        }
                                    }
                                }
                                &#segment2 {
                                    animation: segment2 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    background: linear-gradient(90deg, #f9becf 0%, #d25b97 100%);
                                    @keyframes segment2 {
                                        0% {
                                            height: 80px;
                                        }
                                        100% {
                                            height: 65px;
                                        }
                                    }
                                }
                                &#segment3 {
                                    animation: segment3 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    background: linear-gradient(90deg, #bfbfff 0%, #7676e4 100%);
                                    @keyframes segment3 {
                                        0% {
                                            height: 80px;
                                        }
                                        100% {
                                            height: 55px;
                                        }
                                    }
                                }
                                &#segment4 {
                                    animation: segment4 0.4s 1.7s linear;
                                    animation-fill-mode: both;
                                    background: linear-gradient(90deg, #f9becf 0%, #d25b97 100%);
                                    @keyframes segment4 {
                                        0% {
                                            height: 80px;
                                        }
                                        100% {
                                            height: 90px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .chat1 {
                        position: absolute;
                        top: 369px;
                        left: 18px;
                    }
                    .chat2 {
                        transform: scaleX(-1);
                        position: absolute;
                        top: 430px;
                        left: 493px;
                    }
                    .plant {
                        position: absolute;
                        top: 513px;
                        left: 549px;
                    }
                    .stone {
                        position: absolute;
                        top: 581px;
                        left: 515px;
                    }
                    .purpose {
                        position: absolute;
                        top: 499px;
                        left: 35px;
                    }
                    .arrow {
                        position: absolute;
                        top: 476px;
                        left: 12px;
                        transform-origin: 100% 100%;
                        animation: arrow_purpose 2.3s 1s linear;
                        animation-fill-mode: both;
                        @keyframes arrow_purpose {
                            0% {
                                top: -4000px;
                                left: -4000px;
                                transform: rotate(-10deg);
                            }
                            30% {
                                top: 476px;
                                left: 12px;
                                transform: rotate(0deg);
                            }
                            32% {
                                transform: rotate(-4deg);
                            }
                            36% {
                                transform: rotate(4deg);
                            }
                            38% {
                                transform: rotate(0deg);
                            }
                            40% {
                                transform: rotate(-2deg);
                            }
                            44% {
                                transform: rotate(2deg);
                            }
                            46% {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
        }
        &#block2 {
            .bacground-wrapper {
                width: calc(100% - 11%);
                margin: 0px auto;
                padding: 70px;
                background: #f3f4f9;
                border-radius: 20px;
                .wrapper {
                    width: 1200px;
                    padding: 0px 20px;
                    gap: 40px;
                    .card {
                        width: 360px;
                        height: 495px;
                        background-color: #ffffff;
                        border: 2px dashed #696fe6;
                        border-radius: 20px;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 20px;
                        cursor: pointer;
                        .card-img-circle {
                            width: 180px;
                            height: 180px;
                            border: 2px dashed #696fe6;
                            border-radius: 100%;
                            padding: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .bacground-circle {
                                width: 150px;
                                height: 150px;
                                border-radius: 100%;
                                background: #f3f4f9;
                                box-shadow: inset 0px 4px 10px rgba(105, 111, 229, 0.15);
                            }
                        }
                        .description {
                            padding: 30px;
                            width: 100%;
                            .title {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 25px;
                                letter-spacing: 0.02em;
                                color: #424c5c;
                                margin-bottom: 20px;
                            }
                            .text {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 150%;
                                color: #424c5c;
                            }
                        }
                        .go-btn {
                            width: calc(100% + 4px);
                            height: 60px;
                            border-radius: 0px 0px 20px 20px;
                            background: #696fe6;
                            position: absolute;
                            left: -2px;
                            bottom: -2px;
                            display: flex;
                            align-items: center;
                            gap: 7px;
                            padding: 0px 30px;
                            .text {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 20px;
                                letter-spacing: 0.02em;
                                text-transform: uppercase;
                                color: #ffffff;
                            }
                            .arrow {
                                position: relative;
                            }
                        }
                        &:hover {
                            .go-btn {
                                background-color: #ff5555;
                                .arrow {
                                    left: 0px;
                                    animation: arrowAnim 0.7s linear infinite;
                                    @keyframes arrowAnim {
                                        0% {
                                            left: 0px;
                                        }
                                        50% {
                                            left: 5px;
                                        }
                                        100% {
                                            left: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &#block3 {
            padding: 70px 0px;
            .wrapper {
                display: flex;
                .left {
                    width: 400px;
                    .title {
                        font-style: normal;
                        font-weight: 800;
                        font-size: 30px;
                        line-height: 38px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: #424c5c;
                        margin-bottom: 40px;
                    }
                    .point-description {
                        display: flex;
                        gap: 10px;
                        .pointer {
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            background: #ecc0c7;
                        }
                        .description {
                            width: 290px;
                            padding-top: 10px;
                        }
                    }
                }
                .right {
                    flex: 1;
                    display: grid;
                    grid-template-columns: repeat(2, 360px);
                    grid-template-rows: repeat(2, 386px);
                    gap: 40px;
                    padding-top: 90px;
                    .card {
                        perspective: 800px;
                        cursor: pointer;
                        .rotate {
                            position: relative;
                            height: 100%;
                            width: 100%;
                            border-radius: 40px;
                            transform-style: preserve-3d;
                            transition: 0.5s;
                            .item {
                                position: relative;
                                height: 100%;
                                width: 100%;
                                background: #fff0ee;
                                border-radius: 40px;
                                padding-top: 101px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 100px 0px 0px;
                                .num {
                                    position: absolute;
                                    left: 40px;
                                    top: 40px;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 20px;
                                    letter-spacing: 0.02em;
                                    color: #424c5c;
                                }
                                img {
                                    margin-bottom: 40px;
                                }
                                .name {
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 24px;
                                    line-height: 30px;
                                    text-align: center;
                                    letter-spacing: 0.02em;
                                    color: #424c5c;
                                }
                            }
                            .back {
                                position: absolute;
                                box-sizing: border-box;
                                // top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                width: 360px;
                                height: 100%;
                                background: #696fe5;
                                border-radius: 40px;
                                padding: 100px 40px 40px;
                                transform: translate3d(0, 0, -0.1px) scale(0.99) rotateY(180deg);
                                transition: 0.5s;
                                transition-delay: 0.25s;
                                .num {
                                    position: absolute;
                                    top: 40px;
                                    left: 40px;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                    letter-spacing: 0.02em;
                                    color: #ffffff;
                                }
                                .title {
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 24px;
                                    line-height: 30px;
                                    letter-spacing: 0.02em;
                                    color: #ffffff;
                                    margin-bottom: 20px;
                                }
                                .desc {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 20px;
                                    letter-spacing: 0.02em;
                                    color: #ffffff;
                                    ul,ol {
                                        padding-top: 15px;
                                        padding-left: 30px
                                    }
                                }
                            }
                        }
                        &:hover {
                            .rotate {
                                transform: rotate3d(0, 1, 0, 180deg);
                                .back {
                                    transform: translate3d(0, 0, -0.1px) scale(1) rotateY(180deg);
                                    box-shadow: 8px 8px 20px rgba(36, 43, 176, 0.3);
                                    height: 460px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
