@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.woff");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy";
}

a {
  display: block;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adaptive {
  display: none;
}

.pink-button {
  width: 300px;
  padding: 21px 35px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #ecc0c7;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #5356ae;
  cursor: pointer;
}

.pink-button:hover {
  background: #ff5555;
  color: #ffffff;
}

header {
  width: 100%;
  height: 120px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  border-bottom: 3px solid #ecc0c7;
}

header .desctop {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 120px 0px;
}

header .desctop .phone {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #424c5c;
}

header .desctop .order-call {
  margin-left: 55px;
  width: 200px;
  height: 40px;
  border-radius: 61px;
  border: 2px solid #696fe6;
  gap: 17px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

header .desctop .order-call .phone-icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #696fe6;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  right: -5px;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

header .desctop .order-call .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #696fe6;
  position: relative;
  z-index: 1;
  left: 0px;
  -webkit-transition: color 0.3s, left 0.3s;
  transition: color 0.3s, left 0.3s;
}

header .desctop .order-call:hover {
  background: #696fe6;
}

header .desctop .order-call:hover .phone-icon {
  background: #fff;
  left: auto;
  right: -162px;
}

header .desctop .order-call:hover .phone-icon svg path {
  fill: #696fe6;
}

header .desctop .order-call:hover .text {
  color: #fff;
  left: -25px;
}

header .desctop .order-call:hover::before {
  width: 200px;
  height: 40px;
  left: 0px;
}

header.scroll {
  height: 80px;
  border-bottom: 2px solid #ecc0c7;
}

main .block .wrapper {
  margin: 0px auto;
  width: 1200px;
  padding: 0px 20px;
}

main .block#block1 .wrapper {
  width: 1190px;
  padding: 80px 0px 85px;
}

main .block#block1 .wrapper .content {
  padding-top: 60px;
}

main .block#block1 .wrapper .content .description {
  width: 550px;
  height: 88px;
  border: 1px solid #e7e7e7;
  border-radius: 76px;
  padding: 20px 29px;
  margin-bottom: 30px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #424c5c;
}

main .block#block1 .wrapper .content .title {
  padding-left: 31px;
  width: 550px;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #696fe6;
  margin-bottom: 40px;
}

main .block#block1 .wrapper .content .title .stroke-text {
  color: #fff;
  text-shadow: #696fe6 1px 0px 0.6px, #696fe6 0px 1px 0.6px, #696fe6 0px -1px 0.6px, #696fe6 -1px 0px 0.6px;
}

main .block#block1 .wrapper .content .pink-button {
  margin-left: 31px;
}

main .block#block1 .wrapper .decor-img {
  width: 100%;
  height: 645px;
  position: relative;
}

main .block#block1 .wrapper .decor-img .input-efect-wrap {
  position: absolute;
  width: 214px;
  height: 29px;
  padding-left: 6px;
  border: 1px solid #e7e7e7;
  border-radius: 84px;
  left: 368px;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block1 .wrapper .decor-img .input-efect-wrap svg {
  margin-right: 3px;
}

main .block#block1 .wrapper .decor-img .input-efect-wrap .input-efect-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #424c5c;
}

main .block#block1 .wrapper .decor-img .input-efect-wrap .input-line {
  width: 1px;
  height: 14px;
  background-color: #424c5c;
  -webkit-animation: inputLineAnimation 1s linear infinite;
          animation: inputLineAnimation 1s linear infinite;
}

@-webkit-keyframes inputLineAnimation {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes inputLineAnimation {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

main .block#block1 .wrapper .decor-img .phone-image {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 156px;
  top: 48px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

main .block#block1 .wrapper .decor-img .phone-image img {
  width: 100%;
  height: 100%;
}

main .block#block1 .wrapper .decor-img .outer-circle {
  position: absolute;
  top: 76px;
  left: 148px;
  width: 448px;
  height: 448px;
  border: 1px solid #e7e7e7;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap {
  position: absolute;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap.heart {
  -webkit-animation: rotate1 10s infinite linear;
          animation: rotate1 10s infinite linear;
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap.heart img {
  width: 57px;
  height: auto;
}

@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg) translateY(-216.622px) translateX(41px) rotate(0deg);
            transform: rotate(0deg) translateY(-216.622px) translateX(41px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-216.622px) translateX(41px) rotate(-360deg);
            transform: rotate(360deg) translateY(-216.622px) translateX(41px) rotate(-360deg);
  }
}

@keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg) translateY(-216.622px) translateX(41px) rotate(0deg);
            transform: rotate(0deg) translateY(-216.622px) translateX(41px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-216.622px) translateX(41px) rotate(-360deg);
            transform: rotate(360deg) translateY(-216.622px) translateX(41px) rotate(-360deg);
  }
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap.tooth {
  -webkit-animation: rotate2 10s infinite linear;
          animation: rotate2 10s infinite linear;
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap.tooth img {
  width: 38px;
  height: auto;
}

@-webkit-keyframes rotate2 {
  from {
    -webkit-transform: rotate(0deg) translateY(-181.44px) translateX(128px) rotate(0deg);
            transform: rotate(0deg) translateY(-181.44px) translateX(128px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-181.44px) translateX(128px) rotate(-360deg);
            transform: rotate(360deg) translateY(-181.44px) translateX(128px) rotate(-360deg);
  }
}

@keyframes rotate2 {
  from {
    -webkit-transform: rotate(0deg) translateY(-181.44px) translateX(128px) rotate(0deg);
            transform: rotate(0deg) translateY(-181.44px) translateX(128px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-181.44px) translateX(128px) rotate(-360deg);
            transform: rotate(360deg) translateY(-181.44px) translateX(128px) rotate(-360deg);
  }
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap.eye {
  -webkit-animation: rotate3 10s infinite linear;
          animation: rotate3 10s infinite linear;
}

main .block#block1 .wrapper .decor-img .outer-circle .img-wrap.eye img {
  width: 54px;
  height: auto;
}

@-webkit-keyframes rotate3 {
  from {
    -webkit-transform: rotate(0deg) translateY(-116.646px) translateX(191px) rotate(0deg);
            transform: rotate(0deg) translateY(-116.646px) translateX(191px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-116.646px) translateX(191px) rotate(-360deg);
            transform: rotate(360deg) translateY(-116.646px) translateX(191px) rotate(-360deg);
  }
}

@keyframes rotate3 {
  from {
    -webkit-transform: rotate(0deg) translateY(-116.646px) translateX(191px) rotate(0deg);
            transform: rotate(0deg) translateY(-116.646px) translateX(191px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-116.646px) translateX(191px) rotate(-360deg);
            transform: rotate(360deg) translateY(-116.646px) translateX(191px) rotate(-360deg);
  }
}

main .block#block1 .wrapper .decor-img .internal-circle {
  position: absolute;
  top: 182px;
  left: 254px;
  width: 236px;
  height: 236px;
  border: 1px solid #e7e7e7;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block1 .wrapper .decor-img .internal-circle .animated-bell {
  width: 64px;
  height: 64px;
  position: absolute;
  -webkit-transform: rotate(0deg) translateY(-93px) translateX(73px) rotate(0deg);
          transform: rotate(0deg) translateY(-93px) translateX(73px) rotate(0deg);
}

main .block#block1 .wrapper .decor-img .internal-circle .animated-bell .img-wrap {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block1 .wrapper .decor-img .internal-circle .animated-bell .img-wrap.bell {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: rotate_bell 2.1s infinite linear;
          animation: rotate_bell 2.1s infinite linear;
}

main .block#block1 .wrapper .decor-img .internal-circle .animated-bell .img-wrap.bell img {
  width: 45px;
  height: auto;
}

@-webkit-keyframes rotate_bell {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate_bell {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

main .block#block1 .wrapper .decor-img .internal-circle .animated-bell .notification {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../assets/image/top_decor-img/bell_notification.png);
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

main .block#block1 .wrapper .decor-img .doctor {
  position: absolute;
  top: 33px;
  left: 186px;
}

main .block#block1 .wrapper .decor-img .doctor img {
  width: 216px;
  height: 314px;
}

main .block#block1 .wrapper .decor-img .cloud {
  position: absolute;
  top: 210px;
  left: 50px;
}

main .block#block1 .wrapper .decor-img .light_bulb {
  position: absolute;
  width: 96px;
  height: 146px;
  top: 240px;
  right: 38px;
}

main .block#block1 .wrapper .decor-img .screen {
  position: absolute;
  top: 284px;
  left: 92px;
}

main .block#block1 .wrapper .decor-img .screen_chart {
  width: 142px;
  height: 123px;
  position: absolute;
  top: 398px;
  left: 196px;
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart {
  position: relative;
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle1, main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle3 {
  background: linear-gradient(135deg, #bfbfff 0%, #7676e4 100%);
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle2, main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle4 {
  background: linear-gradient(135deg, #f9becf 0%, #d25b97 100%);
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle1 {
  top: 47px;
  left: 4px;
  -webkit-animation: cirkle1 0.4s 1.7s linear;
          animation: cirkle1 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes cirkle1 {
  0% {
    top: 24px;
  }
  100% {
    top: 47px;
  }
}

@keyframes cirkle1 {
  0% {
    top: 24px;
  }
  100% {
    top: 47px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle2 {
  top: 24px;
  left: 44px;
  -webkit-animation: cirkle2 0.4s 1.7s linear;
          animation: cirkle2 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes cirkle2 {
  0% {
    top: 24px;
  }
  100% {
    top: 24px;
  }
}

@keyframes cirkle2 {
  0% {
    top: 24px;
  }
  100% {
    top: 24px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle3 {
  top: 35px;
  left: 84px;
  -webkit-animation: cirkle3 0.4s 1.7s linear;
          animation: cirkle3 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes cirkle3 {
  0% {
    top: 24px;
  }
  100% {
    top: 35px;
  }
}

@keyframes cirkle3 {
  0% {
    top: 24px;
  }
  100% {
    top: 35px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .circle#circle4 {
  top: 0px;
  left: 123px;
  -webkit-animation: cirkle4 0.4s 1.7s linear;
          animation: cirkle4 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes cirkle4 {
  0% {
    top: 24px;
  }
  100% {
    top: 0px;
  }
}

@keyframes cirkle4 {
  0% {
    top: 24px;
  }
  100% {
    top: 0px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .line {
  height: 3px;
  position: absolute;
  background-color: #74c3f2;
  z-index: 1;
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .line#line1 {
  width: 40px;
  top: 29px;
  left: 8px;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotate(-31deg);
          transform: rotate(-31deg);
  -webkit-animation: line1 0.4s 1.7s linear;
          animation: line1 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes line1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-31deg);
            transform: rotate(-31deg);
  }
}

@keyframes line1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-31deg);
            transform: rotate(-31deg);
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .line#line2 {
  width: 40px;
  top: 29px;
  left: 51px;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  -webkit-animation: line2 0.4s 1.7s linear;
          animation: line2 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes line2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
}

@keyframes line2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .line-chart .line#line3 {
  width: 40px;
  top: 29px;
  left: 90px;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
  -webkit-animation: line3 0.4s 1.7s linear;
          animation: line3 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes line3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 29px;
  }
  100% {
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
    top: 40px;
    width: 55px;
  }
}

@keyframes line3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 29px;
  }
  100% {
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
    top: 40px;
    width: 55px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .segment-chart {
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

main .block#block1 .wrapper .decor-img .screen_chart .segment-chart .segment {
  width: 20px;
  height: 80px;
  border-radius: 44px;
}

main .block#block1 .wrapper .decor-img .screen_chart .segment-chart .segment#segment1 {
  -webkit-animation: segment1 0.4s 1.7s linear;
          animation: segment1 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background: -webkit-gradient(linear, left top, right top, from(#bfbfff), to(#7676e4));
  background: linear-gradient(90deg, #bfbfff 0%, #7676e4 100%);
}

@-webkit-keyframes segment1 {
  0% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}

@keyframes segment1 {
  0% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .segment-chart .segment#segment2 {
  -webkit-animation: segment2 0.4s 1.7s linear;
          animation: segment2 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background: -webkit-gradient(linear, left top, right top, from(#f9becf), to(#d25b97));
  background: linear-gradient(90deg, #f9becf 0%, #d25b97 100%);
}

@-webkit-keyframes segment2 {
  0% {
    height: 80px;
  }
  100% {
    height: 65px;
  }
}

@keyframes segment2 {
  0% {
    height: 80px;
  }
  100% {
    height: 65px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .segment-chart .segment#segment3 {
  -webkit-animation: segment3 0.4s 1.7s linear;
          animation: segment3 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background: -webkit-gradient(linear, left top, right top, from(#bfbfff), to(#7676e4));
  background: linear-gradient(90deg, #bfbfff 0%, #7676e4 100%);
}

@-webkit-keyframes segment3 {
  0% {
    height: 80px;
  }
  100% {
    height: 55px;
  }
}

@keyframes segment3 {
  0% {
    height: 80px;
  }
  100% {
    height: 55px;
  }
}

main .block#block1 .wrapper .decor-img .screen_chart .segment-chart .segment#segment4 {
  -webkit-animation: segment4 0.4s 1.7s linear;
          animation: segment4 0.4s 1.7s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background: -webkit-gradient(linear, left top, right top, from(#f9becf), to(#d25b97));
  background: linear-gradient(90deg, #f9becf 0%, #d25b97 100%);
}

@-webkit-keyframes segment4 {
  0% {
    height: 80px;
  }
  100% {
    height: 90px;
  }
}

@keyframes segment4 {
  0% {
    height: 80px;
  }
  100% {
    height: 90px;
  }
}

main .block#block1 .wrapper .decor-img .chat1 {
  position: absolute;
  top: 369px;
  left: 18px;
}

main .block#block1 .wrapper .decor-img .chat2 {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  position: absolute;
  top: 430px;
  left: 493px;
}

main .block#block1 .wrapper .decor-img .plant {
  position: absolute;
  top: 513px;
  left: 549px;
}

main .block#block1 .wrapper .decor-img .stone {
  position: absolute;
  top: 581px;
  left: 515px;
}

main .block#block1 .wrapper .decor-img .purpose {
  position: absolute;
  top: 499px;
  left: 35px;
}

main .block#block1 .wrapper .decor-img .arrow {
  position: absolute;
  top: 476px;
  left: 12px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-animation: arrow_purpose 2.3s 1s linear;
          animation: arrow_purpose 2.3s 1s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes arrow_purpose {
  0% {
    top: -4000px;
    left: -4000px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30% {
    top: 476px;
    left: 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  32% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  36% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  38% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  44% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  46% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes arrow_purpose {
  0% {
    top: -4000px;
    left: -4000px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30% {
    top: 476px;
    left: 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  32% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  36% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  38% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  44% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  46% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

main .block#block2 .bacground-wrapper {
  width: calc(100% - 200px);
  margin: 0px auto;
  padding: 70px 0px;
  background: #f3f4f9;
  border-radius: 20px;
}

main .block#block2 .bacground-wrapper .wrapper {
  width: 1200px;
  padding: 0px 20px;
  gap: 40px;
}

main .block#block2 .bacground-wrapper .wrapper .card {
  width: 360px;
  height: 495px;
  background-color: #ffffff;
  border: 2px dashed #696fe6;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  cursor: pointer;
}

main .block#block2 .bacground-wrapper .wrapper .card .card-img-circle {
  width: 180px;
  height: 180px;
  border: 2px dashed #696fe6;
  border-radius: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block2 .bacground-wrapper .wrapper .card .card-img-circle .bacground-circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: #f3f4f9;
  -webkit-box-shadow: inset 0px 4px 10px rgba(105, 111, 229, 0.15);
          box-shadow: inset 0px 4px 10px rgba(105, 111, 229, 0.15);
}

main .block#block2 .bacground-wrapper .wrapper .card .description {
  padding: 30px;
  width: 100%;
}

main .block#block2 .bacground-wrapper .wrapper .card .description .title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #424c5c;
  margin-bottom: 20px;
}

main .block#block2 .bacground-wrapper .wrapper .card .description .text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424c5c;
}

main .block#block2 .bacground-wrapper .wrapper .card .go-btn {
  width: calc(100% + 4px);
  height: 60px;
  border-radius: 0px 0px 20px 20px;
  background: #696fe6;
  position: absolute;
  left: -2px;
  bottom: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding: 0px 30px;
}

main .block#block2 .bacground-wrapper .wrapper .card .go-btn .text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

main .block#block2 .bacground-wrapper .wrapper .card .go-btn .arrow {
  position: relative;
}

main .block#block2 .bacground-wrapper .wrapper .card:hover .go-btn {
  background-color: #ff5555;
}

main .block#block2 .bacground-wrapper .wrapper .card:hover .go-btn .arrow {
  left: 0px;
  -webkit-animation: arrowAnim 0.7s linear infinite;
          animation: arrowAnim 0.7s linear infinite;
}

@-webkit-keyframes arrowAnim {
  0% {
    left: 0px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0px;
  }
}

@keyframes arrowAnim {
  0% {
    left: 0px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0px;
  }
}

main .block#block3 {
  padding: 70px 0px 40px;
}

main .block#block3 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .block#block3 .wrapper .left {
  width: 400px;
  position: relative;
}

main .block#block3 .wrapper .left .title {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #424c5c;
  margin-bottom: 40px;
}

main .block#block3 .wrapper .left .point-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

main .block#block3 .wrapper .left .point-description .pointer {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ecc0c7;
}

main .block#block3 .wrapper .left .point-description .description {
  width: 290px;
  padding-top: 10px;
}

main .block#block3 .wrapper .left .decor-img {
  position: absolute;
  top: 260px;
  left: -52px;
  width: 454px;
  height: 419px;
}

main .block#block3 .wrapper .left .decor-img .circles {
  position: absolute;
  left: 0;
  top: 13px;
}

main .block#block3 .wrapper .left .decor-img .circles .border-circle {
  width: 403px;
  height: 403px;
  border: 1px solid #5356ae;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block3 .wrapper .left .decor-img .circles .border-circle .painted-circle {
  width: 329px;
  height: 329px;
  border-radius: 100%;
  background: #cbcdf4;
}

main .block#block3 .wrapper .left .decor-img .chart {
  position: absolute;
  left: 93px;
  z-index: 1;
}

main .block#block3 .wrapper .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[2];
      grid-template-columns: repeat(2, 360px);
  -ms-grid-rows: (386px)[2];
      grid-template-rows: repeat(2, 386px);
  gap: 40px;
  padding-top: 90px;
}

main .block#block3 .wrapper .right .card {
  -webkit-perspective: 800px;
          perspective: 800px;
  cursor: pointer;
}

main .block#block3 .wrapper .right .card .rotate {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .block#block3 .wrapper .right .card .rotate .item {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff0ee;
  border-radius: 40px;
  padding-top: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 0px;
}

main .block#block3 .wrapper .right .card .rotate .item .num {
  position: absolute;
  left: 40px;
  top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #424c5c;
}

main .block#block3 .wrapper .right .card .rotate .item img {
  margin-bottom: 40px;
}

main .block#block3 .wrapper .right .card .rotate .item .name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #424c5c;
}

main .block#block3 .wrapper .right .card .rotate .back {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 0;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 100%;
  background: #696fe5;
  border-radius: 40px;
  padding: 100px 40px 40px;
  -webkit-transform: translate3d(0, 0, -0.1px) scale(0.99) rotateY(180deg);
          transform: translate3d(0, 0, -0.1px) scale(0.99) rotateY(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

main .block#block3 .wrapper .right .card .rotate .back .num {
  position: absolute;
  top: 40px;
  left: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

main .block#block3 .wrapper .right .card .rotate .back .title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
}

main .block#block3 .wrapper .right .card .rotate .back .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

main .block#block3 .wrapper .right .card .rotate .back .desc ul,
main .block#block3 .wrapper .right .card .rotate .back .desc ol {
  padding-top: 15px;
  padding-left: 30px;
}

main .block#block3 .wrapper .right .card:hover .rotate {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
}

main .block#block3 .wrapper .right .card:hover .rotate .back {
  -webkit-transform: translate3d(0, 0, -0.1px) scale(1) rotateY(180deg);
          transform: translate3d(0, 0, -0.1px) scale(1) rotateY(180deg);
  -webkit-box-shadow: 8px 8px 20px rgba(36, 43, 176, 0.3);
          box-shadow: 8px 8px 20px rgba(36, 43, 176, 0.3);
  height: 460px;
}

main .block#block4 .bacground-wrapper {
  width: calc(100% - 200px);
  margin: 0px auto;
  background: #5356ae;
  border-radius: 20px;
  min-height: 320px;
  overflow: hidden;
}

main .block#block4 .bacground-wrapper .wrapper {
  width: 1200px;
  padding: 70px 0px;
  gap: 60px;
  padding-left: 322px;
  position: relative;
}

main .block#block4 .bacground-wrapper .wrapper .decor-img .border-circle {
  position: absolute;
  width: 121px;
  height: 121px;
  border: 1px solid #696fe6;
  border-radius: 100%;
  left: 217px;
  bottom: -40px;
}

main .block#block4 .bacground-wrapper .wrapper .decor-img .painted-circle {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #696fe6;
  left: -6px;
  bottom: -53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block4 .bacground-wrapper .wrapper .decor-img .painted-circle img {
  position: absolute;
  top: -53px;
}

main .block#block4 .bacground-wrapper .wrapper .decor-arrow {
  position: absolute;
  top: 140px;
  left: 690px;
}

main .block#block4 .bacground-wrapper .wrapper .left .title {
  width: 340px;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

main .block#block4 .bacground-wrapper .wrapper .right .description {
  width: 440px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

main .block#block4 .bacground-wrapper .wrapper .right .description .highlighting {
  font-weight: 700;
  background-color: #696fe5;
  border-radius: 5px;
  padding: 0px 5px 3px;
}

main .block#block5 {
  padding-top: 120px;
}

main .block#block5 .bacground-wrapper {
  width: calc(100% - 200px);
  margin: 0px auto;
  background: #696fe6;
  border-radius: 20px;
  min-height: 80px;
  overflow: hidden;
}

main .block#block5 .bacground-wrapper .wrapper {
  min-height: 80px;
  background: url(../assets/image/block5/background-img.svg) center center no-repeat;
  background-size: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block5 .bacground-wrapper .wrapper .title {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

main .block#block6 .bacground-color {
  background: #f3f4f9;
}

main .block#block6 .breaf .bacground-wrapper {
  width: calc(100% - 200px);
  margin: 0px auto;
  background: #696fe6;
  border-radius: 20px;
  min-height: 320px;
  overflow: hidden;
  position: relative;
}

main .block#block6 .breaf .bacground-wrapper .wrapper {
  min-height: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block6 .breaf#breaf-one .wrapper {
  padding-left: 108px;
  gap: 100px;
  position: relative;
  z-index: 2;
}

main .block#block6 .breaf#breaf-one .wrapper .left {
  width: 212px;
  height: 252px;
}

main .block#block6 .breaf#breaf-one .wrapper .right {
  height: 252px;
  padding-top: 30px;
}

main .block#block6 .breaf#breaf-one .wrapper .right .breaf-title {
  width: 356px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

main .block#block6 .breaf#breaf-one .decor-img_1 {
  position: absolute;
  right: 0;
  top: 0px;
}

main .block#block6 .breaf#breaf-one .decor-img_2 {
  position: absolute;
  left: 37%;
  top: 40px;
}

main .block#block6 .breaf#breaf-two .bacground-wrapper {
  background-color: #5356ae;
}

main .block#block6 .breaf#breaf-two .wrapper {
  padding-left: 521px;
  position: relative;
  z-index: 2;
}

main .block#block6 .breaf#breaf-two .wrapper .right {
  height: 252px;
  padding-top: 30px;
}

main .block#block6 .breaf#breaf-two .wrapper .right .breaf-title {
  width: 305px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

main .block#block6 .breaf#breaf-two .decor-img_1 {
  position: absolute;
  left: 0;
  top: 0px;
}

main .block#block6 .breaf#breaf-two .decor-img_2 {
  position: absolute;
  left: 43%;
  top: 40px;
}

main .block#block6 .step {
  padding: 120px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;
}

main .block#block6 .step .title {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #424c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .block#block6 .step .title .decor-line {
  margin-top: 3px;
  width: 257px;
  height: 10px;
  background: #696fe6;
}

main .block#block6 .step#step-one {
  position: relative;
}

main .block#block6 .step#step-one .title {
  margin-bottom: 40px;
}

main .block#block6 .step#step-one .rebranding-comprehensive {
  position: relative;
}

main .block#block6 .step#step-one .rebranding-comprehensive .rebranding-comprehensive__description .row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

main .block#block6 .step#step-one .rebranding-comprehensive .rebranding-comprehensive__description .row .circles .border-circle.external {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: #f3f4f9;
  border: 1px solid #cbcdf4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block6 .step#step-one .rebranding-comprehensive .rebranding-comprehensive__description .row .circles .border-circle.internal {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid #ecc0c7;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block6 .step#step-one .rebranding-comprehensive .rebranding-comprehensive__description .row .description-text {
  width: 520px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424c5c;
}

main .block#block6 .step#step-one .rebranding-comprehensive .rebranding-comprehensive__description .row .description-text b {
  font-weight: 700;
}

main .block#block6 .step#step-one .rebranding-comprehensive .rebranding-comprehensive__description .row#rebranding-comprehensive__description_row2 {
  left: 320px;
}

main .block#block6 .step#step-one .rebranding-comprehensive .decor-line {
  position: absolute;
  top: 91px;
}

main .block#block6 .step#step-one .swiper-container {
  margin-top: -40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .block#block6 .step#step-one .swiper-container .wrapper {
  position: relative;
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container {
  position: absolute;
  width: 140px;
  height: 60px;
  right: 0;
  top: -80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container .pagination-btn {
  position: absolute;
  top: auto;
  content: "" !important;
  width: 40px;
  height: 40px;
  -webkit-transition: width 0.1s, height 0.1s;
  transition: width 0.1s, height 0.1s;
  border-radius: 100%;
  background-color: #fff;
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container .pagination-btn::after {
  display: none !important;
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container .pagination-btn.swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container .pagination-btn:hover {
  width: 60px;
  height: 60px;
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container .pagination-btn:hover img {
  width: 23px;
}

main .block#block6 .step#step-one .swiper-container .wrapper .swiper-pagination-btn-container .pagination-btn:active {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(105, 111, 229, 0.1);
          box-shadow: 0px 0px 10px 5px rgba(105, 111, 229, 0.1);
}

main .block#block6 .step#step-one .swiper-container .swiper {
  position: relative;
  width: 100%;
  height: 443px;
}

main .block#block6 .step#step-one .swiper-container .swiper .swiper-wrapper .swiper-slide {
  background-color: #f3f4f9;
  width: 600px !important;
  height: 443px !important;
  border: 1px solid #cbcdf4;
  border-radius: 20px;
  padding: 20px;
  margin-left: 40px;
}

main .block#block6 .step#step-one .complex-services .title {
  width: 480px;
}

main .block#block6 .step#step-one .services-list {
  gap: 40px;
}

main .block#block6 .step#step-one .services-list .service {
  overflow: hidden;
  width: 1160px;
  height: 540px;
  background: #f3f4f9;
  /* shadow 3 soft */
  -webkit-box-shadow: 0px 14px 30px rgba(105, 111, 229, 0.14);
          box-shadow: 0px 14px 30px rgba(105, 111, 229, 0.14);
  border-radius: 20px;
  gap: 40px;
}

main .block#block6 .step#step-one .services-list .service .service-img {
  height: 100%;
}

main .block#block6 .step#step-one .services-list .service .service-content {
  padding: 40px 0px;
  width: 500px;
}

main .block#block6 .step#step-one .services-list .service .service-content .service-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #696fe6;
  margin-bottom: 15px;
}

main .block#block6 .step#step-one .services-list .service .service-content .price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  margin-bottom: 30px;
  padding: 0px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ecc0c7;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #5356ae;
}

main .block#block6 .step#step-one .services-list .service .service-content .list .list-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #424c5c;
}

main .block#block6 .step#step-one .services-list .service .service-content .list .list-title b {
  font-weight: 700;
}

main .block#block6 .step#step-one .services-list .service .service-content .list ul {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

main .block#block6 .step#step-one .services-list .service .service-content .list ul li {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #424c5c;
}

main .block#block6 .step#step-one .services-list .service .service-content .list ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ecc0c7;
}

main .block#block6 .step#step-one .services-list .service .service-content:first-child {
  margin-left: 60px;
}

main .block#block6 .step#step-two .title {
  margin-bottom: 50px;
}

main .block#block6 .step#step-two .step-description {
  margin-bottom: 30px;
}

main .block#block6 .step#step-two .step-description .text {
  width: 480px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424c5c;
}

main .block#block6 .step#step-two .step-description .text b {
  font-weight: 700;
}

main .block#block6 .step#step-two .features-website-development {
  gap: 40px;
}

main .block#block6 .step#step-two .features-website-development .feature-item {
  width: 660px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px 40px;
  gap: 20px;
}

main .block#block6 .step#step-two .features-website-development .feature-item .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424c5c;
}

main .block#block6 .step#step-two .features-website-development .feature-item .text b {
  font-weight: 700;
}

main .block#block6 .step#step-two .site-features-container {
  width: 1300px;
  padding: 60px 70px;
  margin: 0 auto;
  background-color: #f3f4f9;
  border-radius: 20px;
  position: relative;
}

main .block#block6 .step#step-two .site-features-container .decor-img {
  position: absolute;
}

main .block#block6 .step#step-two .site-features-container .decor-img#decor-img_1 {
  right: 14px;
  top: -261px;
}

main .block#block6 .step#step-two .site-features-container .decor-img#decor-img_2 {
  height: 450px;
  right: 115px;
  top: 95px;
}

main .block#block6 .step#step-two .site-features-container .title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #696fe6;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list {
  gap: 40px;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item {
  width: 860px;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-title {
  min-height: 60px;
  padding: 5px;
  border: 1px solid #696fe6;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-title:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(105, 111, 229, 0.1);
          box-shadow: 0px 0px 5px 2px rgba(105, 111, 229, 0.1);
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-title .text {
  padding: 0px 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424c5c;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-title .indicator {
  margin-left: auto;
  width: 100px;
  height: 50px;
  background: #cbcdf4;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-title .indicator .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #24375b;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-content-wrapper {
  overflow: hidden;
  max-height: 0px;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-content-wrapper .deployable-content {
  padding: 30px 35px 0px 30px;
  gap: 20px;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item .deployable-content-wrapper .deployable-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424c5c;
}

main .block#block6 .step#step-two .site-features-container .deployable-blocks-list .deployable-item.open .deployable-title .indicator .triangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .block#block8 .wrapper .title {
  width: 426px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #424c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .block#block8 .wrapper .title .decor-line {
  margin-top: 3px;
  width: 257px;
  height: 10px;
  background: #696fe6;
}

main .block#block8 .wrapper .methods-attracting-customers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block8 .wrapper .methods-attracting-customers .circles {
  width: 880px;
  height: 880px;
}

main .block#block8 .wrapper .methods-attracting-customers .circles .big-circle {
  width: 880px;
  height: 880px;
  border-radius: 100%;
  border: 3px solid #5356ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block8 .wrapper .methods-attracting-customers .circles .big-circle .middle-circle {
  width: 560px;
  height: 560px;
  border-radius: 100%;
  border: 3px solid #5356ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .block#block8 .wrapper .methods-attracting-customers .circles .big-circle .middle-circle .small-circle {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  border: 3px solid #5356ae;
}
/*# sourceMappingURL=style.css.map */